.first-block {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 10px;
	background: url("../images/system_img/bg-first.png") center / cover no-repeat;
	z-index: 1;

	@media (max-width: 1200px) {
		background: url("../images/system_img/bg-first.png") center / cover no-repeat;
		z-index: 1;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: block;
		z-index: 1;

		@media (max-width: 1200px) {
			display: none;
		}
	}

	&__body {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		max-width: 1000px;
		align-items: center;
		justify-content: space-between;
		height: 100%;

		@media (max-width: 1100px) {
			padding: 0 30px;
		}
	}

	&__logo {
		display: block;
		margin: 0 0 120px 0;

		@media (max-width: 450px) {
			width: 260px;
		}
	}

	&__text {
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;
		text-align: justify;
		text-transform: uppercase;
		margin: 0 0 120px 0;

		color: #ffffff;

		text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	}

	&__button {
		position: relative;
	}

	&__btn {
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;
		color: #e7dcc9;
		width: 169px;
		height: 57px;
		background: #a86e59;
		box-shadow: 0px 0px 10px rgba(236, 120, 79, 0.25);
		border-radius: 20px;
		display: block;
		margin: 0 0 45px 0;
		transition: 0.3s;

		position: relative;
		z-index: 3;

		@media (max-width: 500px) {
			font-size: 20px;
			line-height: 25px;

			width: 300px;
		}

		&:hover {
			transform: translateY(1px);
		}
	}
}
