.services {
	width: 100vw;
	background: #e7ddca;

	&__wrap {
		min-width: 100%;
		height: 100vh;
		display: flex;
		position: relative;
		z-index: 15;

		@media (max-width: 991px) {
			flex-direction: column;
			min-height: 100vh;
			height: auto;
		}
	}
}

.services__title {
	position: absolute;
	top: 100px;
	left: 50%;
	display: inline-block;
	transform: translateX(-50%);
	z-index: 5;
	color: #fff;

	@media (max-width: 991px) {
		display: none;
	}
}
.title-service {
	// flex: 0 0 25%;
	width: 25%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;

	@media (max-width: 991px) {
		width: 100%;
		height: 35vh;
	}

	&:before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(180, 118, 96, 0.45);
		z-index: 2;
		opacity: 1;
		transition-duration: 0.3s;
		transition-delay: 0.3s;
	}

	&__title {
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;
		text-align: center;
		text-transform: uppercase;

		color: #ffffff;
		position: relative;
		z-index: 3;
		opacity: 1;
		transition-duration: 0.3s;
		transition-delay: 0.3s;

		@media (max-width: 1250px) {
			font-size: 22px;
			line-height: 30px;
		}
	}

	&.title-service_active {
		.title-service__title {
			opacity: 0;
			transition-delay: 0;
		}

		&:before {
			opacity: 0;
			transition-delay: 0;
		}
	}
}
.title-service--tickets {
	background: url("../images/system_img/services/01.jpg") center / cover no-repeat;
}
.title-service--class {
	background: url("../images/system_img/services/02.jpg") center / cover no-repeat;
}
.title-service--personal {
	background: url("../images/system_img/services/03.jpg") center / cover no-repeat;
}
.title-service--additional {
	background: url("../images/system_img/services/04.jpg") center / cover no-repeat;
}

.services__btn-back {
	position: absolute;
	top: 30px;
	left: 35px;
	cursor: pointer;

	@media (max-width: 991px) {
		display: none;
	}
}

.services__list {
	padding: 0px 0 50px 40px;
	// background: #e7ddca;
	height: 100%;
	@media (max-width: 991px) {
		padding: 0;
	}
}

.services-item__wrapper {
	width: 75%;
	height: 100%;
	position: relative;
	padding: 100px 0 220px 0;
	background: url("../images/system_img/bg-services.png") center / cover no-repeat;
	@media (max-width: 991px) {
		padding: 20px 10px;
		height: 65vh;
		max-height: 65vh;
		width: 100%;
		overflow-y: auto;
	}
}

.services-list {
	&__btn-back {
		display: block;
		margin: 0 0 30px 0;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			transform: rotate(-360deg);
		}
	}

	&__items {
		padding: 0 10px 0 0;
		width: 100%;
		max-height: 100%;
		overflow-y: auto;

		@media (max-width: 991px) {
			overflow-y: unset;
			max-height: auto;
			padding: 0;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		margin: 0 0 30px 0;

		@media (max-width: 991px) {
			flex-direction: column;
			justify-content: center;
		}
	}

	&__item-left {
	}

	&__item-title {
		margin: 0 0 7px 0;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;

		color: #323232;
	}

	&__item-subtitle {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		/* identical to box height */

		color: #797979;
	}

	&__item-right {
		display: flex;
		align-items: center;

		@media (max-width: 800px) {
			justify-content: space-between;
			width: 100%;
		}

		@media (max-width: 500px) {
			display: block;
		}
	}

	&__item-price {
		margin: 0 50px 0 0;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;

		color: #323232;
		@media (max-width: 500px) {
			margin: 0 0 30px 0;
		}
	}

	&__item-btn {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;

		color: #323232;
		width: 165px;
		height: 54px;

		background: #e7ddca;
		border: 3px solid #323232;
		box-sizing: border-box;
		border-radius: 25px;
		transition: 0.3s;

		&:hover {
			transform: translateY(1px);
		}
	}
}

.services {
	form {
		// width: 320px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
	}
	&__form {
		// flex: 0 1 75%;
		padding: 0 20px 50px 40px;
		// background: #e7ddca;
		display: flex;
		flex-direction: column;
		height: 100%;

		@media (max-width: 991px) {
			padding: 20px 10px 40px 10px;
		}
	}

	&__form--tickets {
	}
}
.services-form {
	&__btn-back {
		display: block;
		margin: 0 0 30px 0;
		cursor: pointer;
		transition: 0.3s;
		flex: 0 0 40px;
		align-self: flex-start;

		&:hover {
			transform: rotate(-360deg);
		}
	}

	&__input-wrapper {
		width: 320px;
		margin: 0 0 30px 0;

		&--tel {
			width: 235px;
		}

		@media (max-width: 991px) {
			width: 280px;
		}
	}

	&__label {
		display: block;
		text-align: center;
		margin: 0 0 20px 0;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;

		color: #736e64;
	}

	&__input {
		width: 100%;
		height: 54px;
		background: #e7ddca;
		border: 3px solid #736e64;
		box-sizing: border-box;
		border-radius: 25px;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		padding: 0 5px;

		color: #736e64;

		&::placeholder {
			opacity: 0.6;
		}
	}

	&__btn {
		width: 297px;
		height: 54px;
		display: inline-block;

		background: #e7ddca;
		border: 3px solid #a86e59;
		box-sizing: border-box;
		border-radius: 25px;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		text-transform: uppercase;

		color: #a86e59;
		@media (max-width: 991px) {
			width: 280px;
			margin: 0 0 20px 0;
		}
	}
}
