.third {
	// background: #bb846c;
	background: url("../images/system_img/bg-third.png") center / cover no-repeat;
	display: flex;
	flex-direction: column;
	padding: 0 0 50px 0;

	// display: none;

	.title {
		margin: 0 0 100px 0;

		@media (max-width: 1500px) {
			margin: 0 0 40px 0;
		}
	}

	&__slider {
		position: relative;
		z-index: 11;
		transform: translateY(-57px);

		@media (max-width: 768px) {
			transform: none;
		}

		.slick-list {
			width: calc(100vw - 50px);
			margin: 0 auto;

			@media (max-width: 768px) {
				width: calc(100vw - 120px);
			}
		}

		.slick-track {
			padding: 100px 0;

			@media (min-width: 1200px) {
				// padding: 17vw 0;
			}

			@media (max-width: 768px) {
				padding: 0;
			}
		}

		.slick-center {
			transition: 1000ms;
			transform: scale(1.3);

			@media (max-width: 991px) {
				transform: scale(1.3);
			}

			@media (max-width: 768px) {
				transform: none;
			}
		}

		.slick-arrow {
		}
		/* Стрелка влево */
		.slick-arrow.slick-prev {
		}
		/* Стрелка вправо */
		.slick-arrow.slick-next {
		}
	}
}
.dots-wrapper {
	display: inline-flex;
	// margin: 53px 0 0 0;
	position: relative;
	align-self: center;

	.slick-dots {
		display: flex;
		margin: 0 30px;
	}

	.slick-dots li button {
		font-size: 20px;
		line-height: 24px;
		text-transform: lowercase;
		background: none;
		margin: 0 10px;
		color: #e7dcc9;
		transition: 0.2s;
		position: relative;
		z-index: 11;
	}
	.slick-dots li.slick-active button {
		font-weight: bold;
	}

	@media (max-width: 768px) {
		display: block;
		width: 100%;
	}
}
.arrow {
	z-index: 11;
	position: absolute;
	top: 50%;
	height: 16px;
	width: 16px;
	transform: translateY(-50%);
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		transform: translateY(-50%) scale(1.1);
	}

	@media (max-width: 768px) {
		top: -200px;
		height: 36px;
		width: 36px;
	}

	@media (max-width: 550px) {
		top: -100px;
	}

	@media (max-width: 400px) {
		top: -80px;
	}
}

.arrow-prev {
	left: 0;
	@media (max-width: 768px) {
		left: 10px;
	}
}

.arrow-next {
	right: 0;

	@media (max-width: 768px) {
		right: 10px;
	}
}
