.trainers {
	background: url("../images/system_img/bg-trainers.png") center / cover no-repeat;
	&__wrap {
		padding: 25px 15px 100px 15px;
		max-width: 1250px;
		margin: 0 auto;
	}

	&__title {
	}
}

.trainers-big {
	margin: 20px 0 0 0;

	.slick-track {
	}

	.slick-slide {
		display: flex;
	}
}
.item-big {
	display: flex;

	@media (max-width: 768px) {
		flex-direction: column;
		align-items: center;
	}
	&__img {
		flex: 0 1 40%;
		margin: 0 5% 0 0;
		overflow: hidden;
		border-radius: 58% 42% 39% 61% / 31% 39% 61% 69%;
		max-width: 500px;
		min-height: 400px;

		@media (max-width: 991px) {
			min-height: auto;
			max-height: 300px;
		}

		@media (max-width: 768px) {
			min-height: 300px;
			width: 60%;
			margin: 0 0 30px 0;
		}
	}

	&__body {
		flex: 0 1 45%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__name {
		font-weight: bold;
		font-size: 40px;
		line-height: 49px;
		text-align: center;
		text-transform: uppercase;

		color: #e7dcc9;
		margin: 0 0 30px 0;
	}

	&__text {
		font-size: 20px;
		line-height: 24px;
		text-align: justify;
		text-transform: lowercase;

		color: #e7dcc9;
		margin: 0 0 30px 0;
	}

	&__btn {
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;
		/* identical to box height */
		width: 282px;
		height: 57px;

		background: #e7dcc9;
		box-shadow: 0px 0px 10px rgba(231, 220, 201, 0.5);
		border-radius: 20px;

		color: #a86e59;
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.trainers-small {
	margin: 70px 0 0 -40px;

	.slick-track {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 150px;
	}

	.slick-slide {
		width: 100px !important;
		height: 100px;
		border-radius: 50%;
		transition: 0.3s;
		cursor: pointer;
	}

	.slick-slide.slick-active {
		width: 150px !important;
		height: 150px;
	}
}
.item-small {
	// width: 100%;
	// height: 100%;
}
